<main style="width: 100%;" id="main">
         <div    style="background-image: url('{{imgeUrl}}');"  class="recipicture"></div>
         <h1 id="name">{{currentRecipe?.name}}</h1>
   
         <mat-divider></mat-divider> 
         <div class="header">
           

            <div class="category-container"> 
             <p style="color: #a02521;">קטגוריות :</p>
             <!-- <div *ngFor="let item of currentRecipe?.categories"  let i="index">{{item}},</div> -->
              <p id="cat">{{currentRecipe?.categories}}</p>
            </div>
            
            <div id="rank-container"> 
                <p>דרגת קושי   : </p>
                <div [appForDirective]="currentRecipe?.difficulty" id="rank">
                </div>

            </div>
         </div>
         <mat-divider></mat-divider> 

         <div class="recipe-ingridinet">
            <div id="trahs-warp" > 
                <img *ngIf="this.currentRecipe?.user?._id==userId" src="../../../assets/trash.png" alt="trash"  id="trash" (click)="deleteRecipe()">
                <img *ngIf="this.currentRecipe?.user?._id==userId"src="../../../assets/edit.png" alt="edit"  id="trash" (click)="editRecipe()">
                <img src="../../../assets/download.png" id="trash" alt="" (click)="generatePdf('main','sample.pdf')">
              </div>

            <h2 style="color: #a02521;">מצרכים </h2>
            <div *ngFor="let item of currentRecipe?.layersArray; let i=index">
              <h3>{{item.description}}</h3>
              <div *ngFor="let ingridient of item.ingredients" class="ingridient-list">
                   <img src="https://cdn-icons-png.flaticon.com/128/3686/3686629.png" alt="spoon" class="spoon">
                    <p>{{ingridient}}</p>
              </div>
            </div>
             
              <h2 style="color: #a02521;">הוראות הכנה</h2>
             <div>
             </div> 
             <div *ngFor="let instruction of currentRecipe?.preperationInstruction ;let i=index" >
                       <p>{{i+1}}.{{instruction}} </p>
             </div>
             </div>

         <h2  style="text-align: center ;color: #a02521;">בתאבון !!!</h2>

</main>




