<main style="height: 100%; width: 100%;">
    <div  *ngIf="this.currentRecipe?.imagUrl"    [ngStyle]="{'background-image' :'url('+ imgeUrl +')'}" class="recipicture"></div>
    <div  *ngIf="!this.currentRecipe?.imagUrl"   style="background-image: url('https://cdn.pixabay.com/photo/2022/09/07/17/00/cook-7439182_640.jpg');" class="recipicture"></div>
    <h1 id="name">{{currentRecipe?.name}}</h1>
   
         <mat-divider></mat-divider> 
         <div class="header">
           

            <div class="category-container"> 
             <p>קטגוריות :  </p>
             <div *ngFor="let item of currentRecipe?.categories"  let i="index">{{item}} ,</div>
            </div>
            
            <div id="rank-container"> 
                <p>דרגת קושי</p>
                 <div *ngFor="item of rnakArray;let i=index" id="rank" > 
                    <img src="../../../assets/star.png" alt="rankstar">
                </div>

            </div>
         </div>
         <mat-divider></mat-divider> 
         <div>
           <p></p>


         </div>

</main>




