<main style="width: 100%;">
    <div    style="background-image: url('{{imgeUrl}}');"  class="recipicture"></div>
    <h1 id="name">{{currentRecipe?.name}}</h1>
   
         <mat-divider></mat-divider> 
         <div class="header">
           

            <div class="category-container"> 
             <p>קטגוריות :</p>
             <div *ngFor="let item of currentRecipe?.categories"  let i="index">{{item}},</div>
            </div>
            
            <div id="rank-container"> 
                <p>דרגת קושי   : </p>
                 <div *ngFor="item of rnakArray;let i=index" id="rank" > 
                    <img src="../../../assets/star.png" alt="rankstar">
                </div>

            </div>
         </div>
         <mat-divider></mat-divider> 

         <div class="recipe-ingridinet">
            <div id="trahs-warp" *ngIf="this.currentRecipe?.user?._id==userId">  <img src="../../../assets/trash.png" alt="trash"  id="trash" (click)="deleteRecipe()"></div>

            <h2>מצרכים </h2>
            <div *ngFor="let item of currentRecipe?.layersArray; let i=index">
              <h2>{{item.description}}</h2>
              <div *ngFor="let ingridient of item.ingredients" class="ingridient-list">
                 
                   <img src="https://cdn-icons-png.flaticon.com/128/3686/3686629.png" alt="spoon" class="spoon">
                    <p>{{ingridient}}</p>
              </div>
            </div>
             
            <h2>הוראות הכנה</h2>
            <p>{{currentRecipe?.preperationInstruction}}</p>
             
         </div>

</main>




