.recipicture{
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  

}
#name{
  text-align: center;
   color: #a02521;
}
.category-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 25%;
    width: 20%;
}
.category-container>p{
    margin: 0;
    margin-left: 1%;
    color: #a02521;
    font-size: 2.4vh;
    font-weight: bold;
}

.header{
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    width: 100%;
}
#rank{
    display: flex;
    flex-direction: row;
    /* width: 3%; */
    height: 90%;
}
#rank-container{
    display: flex;
    flex-direction: row;
    height: 30%;
    align-items: center;
    margin: 0;
}
#rank-container>p{
    font-size: 2.4vh;
    margin: 0;
    color: #a02521;
    font-weight: bold;
}

.recipe-ingridinet{
   padding: 1%;
}
.ingridient-list{
    display: flex;
    flex-direction: row;
}
.spoon{
    height: 4vh;
}
#trash{
    width: 2%;
}
#trahs-warp{
    display: flex;
    justify-content: left;
}
#cat{
    color: black;
    font-size: 100%;

}