<main>
    <header>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="חפש מתכון..." [(ngModel)]="this.searchaValue" (input)="filterBySearch()">
            <img src="../../../assets/search.png" alt="search icon" class="search-icon">
        </div> 
        <div id="filterIcon"   >
            <img src="../../../assets/filter.png" alt="filter" (click)="isOpenFilter=!isOpenFilter">
            <p class="fonts"> סינונים נוספים</p>
        </div>
        
        <div id="filter" *ngIf="isOpenFilter" >
              <p style="color: #a02521;" class="fonts">  סננן לפי קטגוריה : </p>
              <mat-form-field style="direction: rtl;">
                <mat-label class="fonts">בחר קטגוריה</mat-label>
                <mat-select [(ngModel)]="this.selectedCategories"   name="category"    >
                    <mat-option [value]=''>-</mat-option>
                  @for (category of allCategories; track category) {
                    <mat-option [value]="category.description"  class="fonts">{{category.description}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>


            <div class="select-container">
                
            </div>
            <div class="select-container">
                <p  style="color: #a02521;" class="fonts">סנן לפי זמן הכנה: </p>
                <mat-form-field class="example-full-width">
                    <mat-label > זמן הכנה:</mat-label>
                    <input matInput type="number" [(ngModel)]="timePrepertaion" [min]="1">
                </mat-form-field>
                <p style="color: #a02521;" class="fonts">סנן לפי דרגת קושי: </p>

                <mat-form-field class="example-full-width">
                    <mat-label class="fonts">דרגת קושי: </mat-label>
                    <input matInput type="number" [(ngModel)]="rank" min="{{1}}" [max]="5">
                </mat-form-field>
            </div>
            <div  id="fiter-butt-warp">
                <button class="fiter-but fonts"(click)="clickFilter()">סנן</button>   
                <button  class="fiter-but fonts" (click)="cleanFilter()">נקה סינונים</button>

            </div>              
        </div>
    </header>

   
   
      <h1 *ngIf="isFiltered&&selectedCategories" class="fonts" style="color: #a02521;">קטגוריה {{this.selectedCategories}}</h1>
    
    <div class="all-recipe" *ngIf="this.recipes.length!=0"  (click)="openSnackBar()">
        @for(item of recipes  ; track item.name)
        {
            <div class="single-recipe" >
            
            <a  routerLink="/recipeDeatail/{{item._id}}" style="text-decoration: none ;color:black;">
            <app-single-recipe [singleRecipe]="item" > </app-single-recipe>
            </a>
            </div>
        
        }
        
    </div>
    
    
    <div id="buttons">
        <button (click)="prevPage()" *ngIf="this.StartPage>1&&this.source=='all-recipes'&&recipes.length!=0" class="but-prevNext fonts"  >עמוד קודם</button>
        <button (click)="nextPage()" *ngIf="flag&&this.source=='all-recipes'" 
            class="but-prevNext fonts"
            >עמוד הבא</button>

    </div>
  
</main>
<!-- <div style="height: 100%;" *ngIf="this.recipes.length==0">
    <p> לא נמצאו מתוכנים העונים לתנאי הסינון  </p>
 </div> -->
 <div style=" width: 100%;height: 100%;  display: flex; text-align: center ; justify-content: center;"  *ngIf="recipes.length==0">  <mat-spinner></mat-spinner> </div>

 
