    <header class="header" >
        
       

        <div class="route">
            <a routerLink="/home"> 
                <img src="../../../assets/foodTuch.png" alt="logo" class="img">
            </a>
            <a routerLink="/allRecipe" routerLinkActive="router-link-active" >לכל המתכונים</a>
            @if(userService.token){
                    <a routerLink="userRecipes/{{this.userService.currentUser?.id}}">ספר המתכונים שלי</a>   
                    <a routerLink="addRecipe">העלאת מתכון</a>           
                 }

                 
        </div>

    <div class="profileEria">
        @if(!userService.token){
            <button id="register">
                 <a routerLink="/register" >הרשמה / </a>
                 <a routerLink="/login">התחברות</a>
            </button>
           
            <img src="../../../assets/profileIcon.png" alt="profile icon" id="pro" >

           }
           @else {
                <button  id="logout">
                    <a  (click)="LogOut()" style="font-size: 100%;">התנתקות</a>

                </button>
                <div class="round-div" id="user-initials" onclick="openMenue()">{{shortUserName()}}</div>
           }
    </div>

       

</header>

<div *ngIf="this.openProfile" >
   


</div>



