<form   [formGroup]="addRecipeForm">

    <div>
        <input id="name" formControlName="name" />
        <p> {{addRecipeForm.controls['name'].errors}}</p>

     </div>


     <div>
        <input type="text"  formControlName="description">
        <p> {{addRecipeForm.controls['description'].errors}}</p>

    </div>

 <div  formArrayName="categories"  style=" border: 2px solid black;">
 
    <div *ngFor="let category of    categories.controls; let i=index" >
     <input type="text"  [formControlName]="i">
     <p> {{addRecipeForm.get('categories.'+i)?.errors}}</p>
    </div>
     <button  (click)="addCategory()">להוספת קטגוריה</button>
     <button *ngIf="this.categories.length>1" (click)="removeCategory()"> קטגוריה</button>

    </div>

 <div>
    <input type="number"  formControlName="difficulty" >
    <p>{{addRecipeForm.controls['difficulty'].errors}}</p>
 </div>

 


<div  formArrayName="layersArray"  >

<div *ngFor="let layer of layersArray.controls;let i=index"  [formGroupName]="i" style="border:  2px solid green;margin:  3%;">
     <div>
            <input type="text"  formControlName="description">
            <p>{{addRecipeForm.get('layersArray')?.get('description')?.errors}}</p>
           
     </div>

     <div formArrayName="ingredients"  style="border:  2px solid red;">
     <div  *ngFor="let ingridient of ingredients(i).controls ;let j=index"   >
     <div> <input type="" [formControlName]="j"></div>
    </div>   
    <button (click)="addIngridiet(i)">הוספת מוצר</button>
    <button *ngIf="this.ingredients(i).length>1" (click)="removeIngridiet(i)">הסרת מוצר</button>

    </div>

</div>
 <button  (click)="addLyers()">הוספת שכבה</button>
 <button  *ngIf="this.layersArray.length>1"  (click)="removeLyers()">הסרת שכבה</button>

</div>

 <div>
    <input type=""  formControlName="preperationInstruction" >
    <p>{{addRecipeForm.controls['preperationInstruction'].errors}}</p>
 </div>

 <div>
   <input type="file"  formControlName="imagUrl" (change)="onFileSelected($event)" accept="image/*">
   <div *ngIf="imgSrc">
   <img [src]="imgSrc" alt="">
   </div>
</div>

<div>
   <input type=""  formControlName="isPrivate" >
   <p>{{addRecipeForm.controls['isPrivate'].errors}}</p>
</div>

 
</form>