body{
    direction: rtl;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.fonts{
    color: white;
    font-family: AmaticSC-Bold;
    font-size: 27px;
    text-align: center;
   

}
#warpText{
    padding-left: 45%;
    padding-top: 15%;
}
.cursor {
    display: inline-block;
    width: 1px;
    background-color: white;
    animation: blink 0.7s steps(1) infinite;
  }

  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }